.hero {
    display: grid;
    place-items: center;
}
.display {
    display: flex;
    margin: 20px;
    padding: 20px 45px;
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap:  20px;
}

button {
    cursor: pointer;
    padding: 10px;
}